cat > .dockerignore <<'EOF'
**/target
**/.idea
**/.vscode
**/.git
**/.dev
**/*.log
**/data
config/*.properties
config/*.enc
config/secrets.*
**/.env
EOF

git add .dockerignore
git commit -m "chore: improve dockerignore"
git push
